@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #1a1a1e;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3b82f6; 
  text-decoration: underline;
  word-break: break-word; 
}

textarea {
  overflow-y: auto;
  max-height: 8rem; 
  scrollbar-width: none; 
}

textarea::-webkit-scrollbar {
  display: none; 
}

.break-words {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.message-container {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 18px;
  max-width: 80%;
  word-wrap: break-word;
  line-height: 1.4;
}

.message-normal {
  background-color: #2d3748;
  color: #e2e8f0;
  align-self: flex-start;
}

.message-code {
  background-color: #1a202c;
  color: #81e6d9;
  border-left: 3px solid #4fd1c5;
  padding: 10px;
  font-family: 'Consolas', 'Monaco', monospace;
  white-space: pre-wrap;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 0.9em;
  overflow-x: auto;
}

.message-code a {
  color: #63b3ed;
  text-decoration: underline;
}

.message-time {
  color: #a0aec0;
  font-size: 0.75rem;
  opacity: 0.8;
  white-space: nowrap;
}

.message-username {
  font-weight: bold;
  color: #23b35a2f;
  margin-bottom: 2px;
}

.flex.items-baseline {
  align-items: baseline;
}

.self-end {
  align-self: flex-end;
}

.pt-0 {
  padding-top: 0.25rem;
}

.ml-12 {
  margin-left: 3rem;
}

.group:hover .message-time {
  opacity: 1 !important;
}

.min-h-40 {
  min-height: 40px;
}

.min-h-60 {
  min-height: 60px;
}

.max-w-85 {
  max-width: 85%;
}

.transition-opacity {
  transition: opacity 0.2s ease;
}

.profile-popup {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color:#666771;
  border-radius: 12px;
  transition: background-color 0.3s ease, opacity 0.5s ease;
  opacity: 1;
}

.scrollbar-hidden.hide-scrollbar::-webkit-scrollbar-thumb {
  opacity: 0;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
